
/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: #1c2329;
 }


.headercontainer{
    background-color: #fe921f00;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 0px 10px 0px;
    box-align: auto;
    width: 100%;
    
}

.buttonwrapper{

text-align: center;
}
.hr{
    border: 0;
    border-top: 2px solid #adb7bd;
}

.header{
    margin: 0 auto;
    display: block;
    padding: 10px;
}


h1, p{
    color:#adb7bd;
    font-family: 'lato', sans-serif;
    text-align: left;
}

h2{
    text-align: center;
    color:#fe921f;
    font-family: 'lato', sans-serif; 
    font-weight: Bold;
    line-height: 58px;
    margin: 0 0 0px; 
    
   
}



h3{
    font-family: 'lato', sans-serif;
    font-weight:bold;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
}

h4{
    text-align: center;
    color:#fe921f;
    font-family: 'lato', sans-serif; 
    font-weight: Bold;
    font-size: xx-large;
    line-height: 25px;
    margin: 0 0 0px; 

}
    
.content{
    margin: auto;
    width: 50%;
    background-color: #1c2329;
    border-radius: 2px;
    border-width: 5px;
    border-style: none;
    border-color: rgb(100, 100, 100);
    padding: 0px 0px 30px;
    text-align: center;
}


.chart{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff0d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 0px;
    border-image :  linear-gradient(#fe921f , #1c2329) 30;
    
}
 


.button1-underline-animation {

    position: relative;
    font-family: 'lato', sans-serif;
    font-weight:bold;
    color: #fe921f;
    text-decoration: none;
    display: inline;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px 15px 8px;

    

}

.button1-underline-animation:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.1s ease-out;
    transform: scaleX(0);

}
.button1-underline-animation:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
/*#button1:after{ 
    display:block;
    border-bottom: solid 2px rgb(196, 101, 13);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    }
#button1:hover:after{transform: scaleX(1);}*/

/*#button1:hover{

    background-color: rgba(255, 255, 255, 0);

    border:2px;
    border: white;
    border-color:rgb(255, 255, 255);
    border-style: solid;
    color:#fe921f;
    text-decoration: underline white
    
 background-color: #fe921f00;
    padding: 8px 15px 8px;
    font-family: 'lato', sans-serif;
    font-weight:bold;
    color:white;
    text-decoration: none;
    display: inline;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}